<% provide(:title, "About") %>
<h1>About Me</h1>
<p>
  I am Nick Bond, an avid and prolific photographer. I work for an international organisation based in London. As part of my work I do a lot of travelling all over the world which allows me to take many photographs. I am hoping to expand my business and go in to photography full time. I also share my thoughts on photography, travel and the world in general on my blog.
</p>

