<% provide(:title, "Contact") %>
<h1>Contact</h1>
<p>Email: nick.bond@photoright.com</p>
<p>Telephone: 01632 960088</p>
<p>Address: 7 Barrack Lane, Westminster, London, SW3 JY8</p>
<p>Facebook: www.facebook.com/nickbond007</p>

